version: '3.8'
services:
  db:
    image: postgres:9.6
    volumes:
      - pgdata:/var/lib/postgresql/data 
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nest
    ports:
      - "5432:5432"
    networks:
      - freecodecamp

networks:
  freecodecamp:
    driver: bridge
volumes:
  pgdata: